<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>myexpo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myexpo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>G1vI1JVkl3nU4pYFa6i5rvphxicPVscVUZX9Pc</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your current location. in order to fetch your address from map to be used posting new classifieds.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your current location. in order to fetch your address from map to be used posting new classifieds.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your current location. in order to fetch your address from map to be used posting new classifieds.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) wants to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) would like access to your photo gallery. In order to Change Your Profile Image.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AR-STC.otf</string>
		<string>Cairo-Light.ttf</string>
		<string>Fontisto.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AR-Almarai-Font.ttf</string>
		<string>AR-BBC-Regular.ttf</string>
		<string>Actor-Regular.ttf</string>
		<string>AlMohanad.ttf</string>
		<string>Almarai-Bold.ttf</string>
		<string>Almarai-ExtraBold.ttf</string>
		<string>Almarai-Light.ttf</string>
		<string>Almarai-Regular.ttf</string>
		<string>Ar-Ith.ttf</string>
		<string>ArchivoNarrow-Bold.ttf</string>
		<string>ArchivoNarrow-BoldItalic.ttf</string>
		<string>ArchivoNarrow-Italic.ttf</string>
		<string>ArchivoNarrow-Medium.ttf</string>
		<string>ArchivoNarrow-MediumItalic.ttf</string>
		<string>ArchivoNarrow-Regular.ttf</string>
		<string>ArchivoNarrow-SemiBold.ttf</string>
		<string>ArchivoNarrow-SemiBoldItalic.ttf</string>
		<string>Cairo-Black.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo_Black.ttf</string>
		<string>Cairo_Semi_Bold.ttf</string>
		<string>Changa-Bold.ttf</string>
		<string>Changa-ExtraBold.ttf</string>
		<string>Changa-ExtraLight.ttf</string>
		<string>Changa-Light.ttf</string>
		<string>Changa-Medium.ttf</string>
		<string>Changa-Regular.ttf</string>
		<string>Changa-SemiBold.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Medium.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>Tajawal-Black.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-ExtraBold.ttf</string>
		<string>Tajawal-ExtraLight.ttf</string>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>Tajawal-Regular.ttf</string>
		<string>Varela-Regular.ttf</string>
		<string>Bein-Black.ttf</string>
		<string>Bein-Normal.ttf</string>
		<string>cairo.ttf</string>
		<string>Sst-Arabicbold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
